pipeline/SetVariable.json
{
	"name": "SetVariable",
	"properties": {
		"activities": [
			{
				"name": "Set Filetype",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@contains(pipeline().parameters.FileTypeFlag,'Hourly')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Filetype",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('FileName'),true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Hourly",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Input",
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "BlobInput",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"username": "nitesh",
										"dbname": "APMIS",
										"tablename": "hourly_daily_sales"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FileTypeFlag": {
				"type": "string"
			}
		},
		"variables": {
			"FileName": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "ControlFlow"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-26T13:23:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}